 .client p  {margin : 0}
 .client h2 {margin : 0}
 .client h3 {margin : 0}
 .client h4 {margin : 0}

 input[readonly] {
  cursor: initial ;
}

textarea[readonly] {
  cursor: initial ;
}

::-webkit-scrollbar
{
	width: 3px;
	background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #555;
}

.anti-copy {
	 -webkit-user-select: none; 
  user-select: none;
}